body {
  color: #363636;
  font-family: 'Biryani', sans-serif;
}

h1 {
  padding-left: 70px;
}

.Welcome {
  padding: 20px 0px 0px 30px;
  margin-left: 70px;
  height: 50px;
  width: 400px;
  background-image: linear-gradient(to right, #8ED1DC, #E3F4F6);
  border-radius: 3px;
}

.Accounts {
  margin-left: 70px;
  display: inline-block;
}

.MngAccounts {
  display: inline-block;
  float: right;
  position: relative;
  ;
  top: 20px;
}

.Income-Card {
  display: inline-block;
  background-color: #fff;
  margin-left: 70px;
}

.Income {
  border: solid #fff 1px;
  font-size: 65%;
}

.IncomeAmt {
  padding: 1px;
  border: solid #fff 1px;
}

.Expense-Card {
  display: inline-block;
  background-color: #fff;
  margin-right: 5px;
  margin-left: 5px;
  width: 110px;
  padding: 15px;
}

.Expenses {
  border: solid #fff 1px;
  margin: 0px;
  font-size: 65%;
}

.Expense-Amt {
  border: solid #fff 1px;
  background-color: #fff;
  margin: 0px;
}

.Credit-Card {
  display: inline-block;
  background-color: #fff;
  width: 120px;
  padding: 15px;
}

.Credit-Score {
  border: solid #fff 1px;
  margin: 0px;
  font-size: 65%;
}

.Credit-Amt {
  border: solid #fff 1px;
  margin: 0px;
}

main {
  background-color: #F5F5F5;
}

.navbar {
  height: 100%;
  width: 50px;
  background-color: #fff;
  position: fixed;
}

p {

}

.LeftPage {
  display: inline-block;
  margin-left: 20px;
}

.BottomLeft {
  width: 500px;
}

.RightPage {
  float: right;
  display: inline-block;
  position: relative;
  /* border: 1px solid black; */
  width: 500px;
  bottom: 490px;
  background-color: white;
  margin-right: 50px;
  border-radius: 10px;
}

.NewTrans {
  display: inline;
  float: right;
  margin-right: 15px;
  margin-top: 25px;
  width: auto;
}

table {
  width: 500px;
  background-color: white;
  padding: 5px;
}

.RecentTrans {
  display: inline-block;
  margin-left: 10px;
}

th, td {
  font-size: 80%;
  border-bottom: 2px solid #CCCCCC;
}

button {
  background-color: #1CA3BA;
  color: #fff;
  border-radius: 20px;
}
