body {
  color: #363636;
  font-family: 'Biryani', sans-serif;
}

h1 {
  padding-left: 70px;
  margin: 10px 0;
}

.Welcome {
  padding: 20px 0px 0px 30px;
  margin: 0 0 10px 0;
  height: 50px;
  width: 400px;
  background-image: linear-gradient(to right, #8ED1DC, #E3F4F6);
  border-radius: 3px;
}

.Accounts {
  display: inline-block;
}

.MngAccounts {
  display: inline-block;
  float: right;
  position: relative;
  top: 20px;
}

.Income-Card {
  display: inline-block;
  background-color: #fff;
}

.Income {
  border: solid #fff 1px;
  font-size: 65%;
  margin-top: 5px;
  position: relative;
  top: 10px;
  margin-left: 10px;
}

.IncomeAmt {
  padding: 1px;
  border: solid #fff 1px;
  margin-top: 9px;
  margin-bottom: 14px;
  padding-right: 49px;
  margin-left: 10px;
}

.Expense-Card {
  display: inline-block;
  background-color: #fff;
  margin-right: 5px;
  margin-left: 5px;
  width: 110px;
  padding: 15px;
}

.Expenses {
  border: solid #fff 1px;
  margin: 0px;
  font-size: 65%;
}

.Expense-Amt {
  border: solid #fff 1px;
  background-color: #fff;
  margin: 0px;
}

.Credit-Card {
  display: inline-block;
  background-color: #fff;
  width: 120px;
  padding: 15px;
}

.Credit-Score {
  border: solid #fff 1px;
  margin: 0px;
  font-size: 65%;
}

.Credit-Amt {
  border: solid #fff 1px;
  margin: 0px;
}

main {
  background-color: #F5F5F5;
  height: 100vh;
}

.navbar {
  height: 100%;
  width: 50px;
  background-color: #fff;
  position: fixed;
}

.elephant {
  width: 50px;
  margin-bottom: 170px;
}

.dashboard {
  width: 50px;
  position: relative;
  right: 45px;

}

.transactions {
  width: 50px;
  position: relative;
  right: 45px;
}

.profile {
  width: 50px;
  position: relative;
  right: 45px;
}

p {}

.LeftPage {
  display: inline-block;
  margin-left: 70px;
  vertical-align: top;
}

.BottomLeft {
  width: 500px;
}

.RightPage {
  display: inline-block;
  width: 500px;
  background-color: white;
  border-radius: 10px;
  vertical-align: top;
  margin-left: 70px;
}

.NewTrans {
  display: inline;
  float: right;
  margin-right: 15px;
  margin-top: 25px;
  width: auto;
}

table {
  width: 500px;
  background-color: white;
  padding: 5px;
  border-collapse: collapse;
}

.RecentTrans {
  display: inline-block;
  margin-left: 10px;
}

th, td {
  font-size: 80%;
  border-bottom: 2px solid #CCCCCC;
  padding: 5px;
}

button {
  background-color: #1CA3BA;
  color: #fff;
  border-radius: 20px;
}

.WellsFargoChk {
  background-color: white;
  border-radius: 5px;
}

.CheckingPic {
  width: 50px;
  display: inline-block;
  position: relative;
  top: 5px;
  left: 5px;
}

.WellsFargoSav {
  background-color: white;
  margin-top: 7px;
  border-radius: 5px;
}

.SavingsPic {
  width: 50px;
  display: inline-block;
  position: relative;
  top: 5px;
  left: 5px;
}

.AmazonCard {
  background-color: white;
  margin-top: 7px;
  border-radius: 5px;
}

.AmazonPic {
  width: 50px;
  display: inline-block;
  position: relative;
  top: 5px;
  left: 5px;
}

.SouthwestCard {
  background-color: white;
  margin-top: 7px;
  border-radius: 5px;
}

.SouthwestPic {
  width: 50px;
  display: inline-block;
  position: relative;
  top: 5px;
  left: 5px;
}

.accountname {
  display: inline-block;
  position: relative;
  bottom: 10px;
  left: 20px;
}

.accounttype {
  display: inline-block;
  padding-right: 20px;
  float: right;
  margin-top: 23px;
}

.closeIcon {
  width: 10px;
}

.closeButton {
  background: none;
  border: none;
  position: absolute;
  left: 480px;
  margin-top: 7px;
}

.Transactions-p2 {
  display: inline;
}

/* .table-p2 {
  margin-left: 70px;
  display: inline;
  width: 600px;
} */

.leftpage-p2 {
  margin-left: 70px;
  display: inline-block;
}

.rightpage-p2 {
  display: inline;
  width: 500px;
  margin-left: 40px;
  border-radius: 10px;
}

.form {
  display: inline-block;
  vertical-align: top;
  margin-left: 70px;
  width: 400px;
  background-color: white;
}

.NewTransForm {
  display: inline-block;
}

select {
  width: 250px;
  margin: 0 20px 20px;
}
.form-expense {
  width: 250px;
  margin: 20px;
}

.form-category {
  width: 250px;
  margin: 20px;
}

.form-accountfrom {
  width: 250px;
  margin: 20px;
}

input {
  width: 250px;
  margin: 20px;
}

.header-p2 {
  display: inline-block;
}

.allbutton {
  margin-left: 60px;
}

h6 {
  margin: 0 20px;
}

.submitbutton {
  background-color: #1CA3BA;
  color: white;
  border-radius: 20px;
}

.main2 {
  display: none;
}

.buttonSelect {
  border-left: solid 4px #1CA3BA;
}

/* .main2pg {

} */
